# Python
__pycache__/
*.py[cod]

# Virtual Environments
.venv/
venv/

# Environment Variables / secrets
.env
.env.*

# Test / cache
.pytest_cache/
.coverage
htmlcov/

# IDE / OS
.vscode/
.DS_Store
Thumbs.db

data/*.db

